<div class="patient-registration">
  <h2 class="text-center">Реєстрація пацієнта</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "registration-form" }) do |f| %>
    <%= render "patients/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, "Електронна пошта*" %>
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", required: true %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :first_name, "Ім'я*" %>
          <%= f.text_field :first_name, class: "form-control", required: true %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :last_name, "Прізвище*" %>
          <%= f.text_field :last_name, class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date_of_birth, "Дата народження*" %>
      <%= f.date_field :date_of_birth, class: "form-control", required: true, max: Date.today - 12.years %>
    </div>

    <div class="form-group">
      <%= f.label :phone, "Телефон*" %>
      <%= f.telephone_field :phone, class: "form-control", required: true, pattern: "[0-9]{10}" %>
      <small class="form-text text-muted">Формат: 0671234567</small>
    </div>

    <div class="form-group">
      <%= f.label :address, "Адреса*" %>
      <%= f.text_field :address, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Пароль*" %>
      <% if @minimum_password_length %>
        <small class="form-text text-muted">(мінімум <%= @minimum_password_length %> символів)</small>
      <% end %>
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Підтвердження пароля*" %>
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Зареєструватися", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>

  <div class="shared-links">
    <%= render "patients/shared/links" %>
  </div>
</div>