<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to "Clinic", root_path, class:"nav-link px-2 text-white" %></li>
        <%# <li><%= link_to "All Patients", patients_path , class:"nav-link px-2 text-white" %></li> 
        <li><%= link_to "All Doctors",  doctors_path ,class:"nav-link px-2 text-white" %></li> 
      </ul>



      <%= link_to 'Мій профіль', doctor_path(current_doctor), class:"nav-link  my-nav-item" if doctor_signed_in? %>
      <%= link_to 'Мій профіль', patient_path(current_patient), class:"nav-link  my-nav-item"if patient_signed_in? %>
    </div>
  </div>
</header>